<app-header-category></app-header-category>
<section class="produit">
    <div class="flex presentationProduit">
            <a routerLink="#"><img class="presentation" src="assets/img/imageProduit.png"
                    alt="collant exentrique">
                </a>
        <div class="text flex column">
            <h3>Collants Colorés</h3>
            <div class="flex">
                <a routerLink="#">
                    <div class="cercleRed"></div>
                </a>
                <a routerLink="#">
                    <div class="cerclePink"></div>
                </a>
                <a routerLink="#">
                    <div class="cercleYellow"></div>
                </a>
                <a routerLink="#">
                    <div class="cercleBlue"></div>
                </a>
            </div>
            <p>Taille</p>
            <p>15 €</p>
            <button>COMMANDER</button>
        </div>
    </div>
    <div class="flex collant">
        <a routerLink="#"><img src="assets/img/présentaionProduit (1).png" alt="collant exentrique"></a>
        <a routerLink="#"><img src="assets/img/présentaionProduit.png" alt="collant exentrique"></a>
        <div class="description">
            <p> <b>Description : </b></p>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, dolorum? Ea eveniet culpa,
                tenetur sunt perspiciatis delectus minima consequuntur cumque, eius odit vitae reiciendis.
                Libero reprehenderit vitae minima delectus ratione.
                Quo exercitationem ex hic consequatur animi, nobis suscipit amet sit magni! Illo debitis autem
                sint similique ipsum consequuntur soluta repellat esse veritatis, facere labore odit nihil porro
                fugiat velit officia!
            </P>
        </div>
    </div>
</section>

<section class="autreProduit">
    <div class="flex">

        <img src="assets/img/antoinette.png" alt="">
        <img src="assets/img/PageProduit.png" alt="">
        <img src="assets/img/minie.png" alt="">
    </div>