<app-header-category></app-header-category>
<main>

    <h2>Nos nouveaux articles</h2>

    <section class="newArticles">
        <img class="arrow" src="assets\img\icon\fleche carousel 1.png" alt="fleche de defilement vers la gauche">

        <div>
            <a href="#"><img src="assets\img\carousel accueil 1.png" alt="produit n°1"></a>
            <a href="#"><img src="assets\img\carousel accueil 2.png" alt="produit n°2"></a>
            <a href="#"><img src="assets\img\carousel accueil 3.png" alt="produit n°3"></a>
        </div>

        <img class="arrow" src="assets\img\icon\fleche carousel 2.png" alt="fleche de defilement vers la droite">
    </section>
    

    <h2>Venez découvrir nos collections</h2>

    <section class="collections">
        
            <div class="extravagant">
                <a class="imgcollection1" href="#"><img class="imgcollection2" src="assets\img\flamboyante.png" alt="collection extravagante"></a>
                <p>Collection extravagante</p>
            </div>
        
            <div class="classic">
                <p>Collection classique</p>
                <a class="imgcollection1" href="#"><img class="imgcollection2" src="assets\img\rarity.png" alt="collection classique"></a>
            </div>
        
            <div class="casual">
                <a class="imgcollection1" href="#"><img class="imgcollection2" src="assets\img\plenitude.png" alt="collection casual"></a>
                <p>Collection casual</p>
            </div>
        
        
    </section>

    <h2>Découvrez notre combat</h2>
    <div class="journal">
        <img src="assets\img\les ah-bas.png" alt="illustration de femmes">
        <div>
            <a href="file:///C:/Users/Momowizzard/Desktop/projet-Ah-Bas/page%20journal/journal.html#"><h3>Les Ah-Bas!</h3></a>
            
            <p>Notre journal 100 % féministe qui a pour but d’éduquer et de sensibiliser sur la cause des femmes tout en vous proposant des sujets originaux et divertissants.</p>
        </div>
        
    </div>

    <img class="desktop" src="assets\img\Component 2.png" alt="bandeaux avec nos prestations d'achats">
    
    <img class="phone" src="assets\img\Component 3.png" alt="bandeaux avec nos prestations d'achats">

    <!-- <section class="finDePage">
        <div>
            <img src="icon\iconCard.png" alt="icone de carte de credit">
            <p class="bold">PAIEMENT SÉCURISÉ</p>
            <p>Carte Bleue, Visa, Mastercard,Paiement 4x sans frais avec Paypal</p>
        </div>
        <div>
            <img src="icon\iconManequin.png" alt="icone de carte de credit">
            <p class="bold">RETOURS GRATUITS</p>
            <p>Gratuit, par Relais Colis, pour toute commande livrée en boutique ou en Point Relais.</p>
        </div>
        <div>
            <img src="icon\iconPromo.png" alt="icone de payement">
            <p class="bold">PAIEMENT EN 3X</p>
            <p>Sans frais des 100€ d'achat avec Alma</p>
        </div>
        <div>
            <img src="icon\iconDelivery.png" alt="icone de livraison">
            <p class="bold">LIVRAISON GRATUITE</p>
            <p>En boutique et dès 69€en Relais Colis et Colissimo</p>
        </div>
        
    </section> -->

</main>

