<main>

    <h1>A la une</h1>

    <section class="aLaUne">

        <img class="arrow" src="assets\img\icon\fleche carousel 1.png" alt="fleche carousel gauche">

        <div>
            <img src="assets\img\Rectangle 86.png" alt="illustration de forme de femmes">
            <h3>Comprendre son corps et ses formes pour le mettre en valeur</h3>
        </div>

        <img class="arrow" src="assets\img\icon\fleche carousel 2.png" alt="fleche carousel droite">

    </section>


    <h2>Tout nos articles</h2>

    <section class="articles">
        <div>
            <img src="assets\img\Rectangle 91.png" alt="illustration d'une pub sur le summer body">
            <p>Libre, la nouvelle série ARTE qui fait jazer</p>
        </div>

        <div>
            <img src="assets\img\Rectangle 93.png" alt="illustration d'une pub sur le summer body">
            <p>Le body positive ou comment s'aimer soit-même</p>
        </div>

        <div>
            <img src="assets\img\Rectangle 95.png" alt="illustration d'une pub sur le summer body">
            <p>Les 5 meilleurs film féministes a voir sur netflix</p>
        </div>
    </section>
    

</main>
