/* You can add global styles to this file, and also import other style files */
 :root {
    --color-bg: #FFF0EB;
    --color-footer: #EBD4D1;
    --color-footer2: #DFBDB9;
    --color-text: #61504B;
    --color-clair: #FFF9F6;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}


body{
    background-color: var(--color-bg);
    font-family: 'Martel', serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Catamaran', sans-serif;

}